
<div class="container d-flex my-auto">
  <div class="row justify-content-center m-2" align="center">

    <div class="container">
    <a href="#" class="waves-effect waves-light card col-10 yellow lighten-3
m-2 w-100"
href="/bicycle" style="color: black">
      <h5 class="w-100"><strong>Código:</strong> {{bicycle.code}}</h5>
    </a>

    <a href="#" class="waves-effect waves-light card col-10 yellow lighten-3
m-2 w-100"
href="/bicycle" style="color: black">
      <h5 class="w-100"><strong>Marca:</strong> {{bicycle.brand}}</h5>
    </a>

    <img src="/public/upload/{{bicycle.code}}{{bicycle.ext}}" class="w-100 m-0 p-0" alt="">
    </div>

    {{#each locations}}

		<form class="form btn p-1 col-8 transparent p-0" 
      target="_blank" action="https://www.google.com/maps/search/?api=1&query={{lat}},{{lng}}" 
      style="min-height: 100px; overflow: hidden; ">
      <button class="m-0 w-100 green lighten-3" style="color: black" type="submit">
        <h5 class="green lighten-3 m-0"><strong>Ubicación: </strong> {{time}}</h5>
        <h5 class="green lighten-3 m-0
p-0"><strong>Usuario: </strong>{{givenName}} {{familyName}}</h5>
        <h5 class="green lighten-3 m-0
p-0"><strong>Correo: </strong>{{email}}</h5>
      </button>
		</form>


    {{else}}
    <a href="#" class="waves-effect waves-light card col-10 green lighten-3
m-2 w-100"
href="/bicycle" style="color: black">
      <h5 class="w-100">Aun no hay localicaciones registradas</h5>
    </a>

    {{/each}}

  </div>
</div>
