<div class="container d-flex h-100">
  <div class="row justify-content-center" align="center">

    <div class="container">
    <a href="#" class="waves-effect waves-light card col-10 yellow lighten-3
m-2 w-100"
href="/bicycle" style="color: black">
      <h5 class="w-100"><strong>Código:</strong> {{bicycle.code}}</h5>
    </a>

    <a href="#" class="waves-effect waves-light card col-10 yellow lighten-3
m-2 w-100"
href="/bicycle" style="color: black">
      <h5 class="w-100"><strong>Marca:</strong> {{bicycle.brand}}</h5>
    </a>

    <img src="/public/upload/{{bicycle.code}}{{bicycle.ext}}" class="w-100 m-0 p-0" alt="">
    </div>

    {{#each locations}}

    <a href="https://www.google.com/maps/search/?api=1&query={{lat}},{{lng}}" class="waves-effect waves-light card col-10 green lighten-3
m-2 w-100"
href="/bicycle" style="color: black">
      <h5 class="w-100">Ubicacion</h5>
      <h5 class="w-100">Stado: {{state}}</h5>
    </a>



    {{else}}
    <a href="#" class="waves-effect waves-light card col-10 green lighten-3
m-2 w-100"
href="/bicycle" style="color: black">
      <h5 class="w-100">Aun no hay localicaciones registradas</h5>
    </a>

    {{/each}}

  </div>
</div>
